<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NineMuses</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Layout.css" />
</head>
<body>

    <div class="main-wrapper">

        <div class="sidebar">

            <ul class="sidebar-buttons">
                <li class="sign-in-button"><a href="@Url.Action("Index", "Login")">Sign In</a></li>
                <li><a href="@Url.Action("UserProfile", "Home", Session["UserID"])">Profile</a></li>
                <li><a href="#">Upload</a></li>
                <li><a href="#">Shuffle Video</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>

        <div class="content-wrapper">
            <div class="topbar">
                <a href="#" class="logo-img"><img src="~/Media/Logo.png" /></a>
                <form><input type="text" /></form>
            </div>

            <div class="main-content">
                @RenderBody()
                
                <p>© Nine Muses 2019</p>
            </div>
        </div>

    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
