<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="main-wrapper">

        <div class="topbar">
            <a href="@Url.Action("Index", "Home")" class="main-icon ma-">Nine Muses<i class="fas fa-play-circle fa-fw mar-5-l" style="color:#1d3557;"></i></a>
            
            <div class="search-wrapper">
                @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class="search-box" }))
                {
                <input class="search-field" type="text" placeholder="Search" required name="search">
                <button class="search-icon" type="submit"><i class="fas fa-search fa-fw"></i></button>
                }
            </div>

            <div class="sign-in-button">
                <a href="@Url.Action("SignIn", "User")">Sign In<i class="fas fa-sign-in-alt fa-fw mar-5-l"></i></a>
            </div>

        </div>

        <div class="sidebar">
            <ul class="sidebar-buttons">
                <li><a href="@Url.Action("Profile", "User")"><i class="fas fa-user fa-fw mar-5-r"></i>Profile</a></li>
                <li><a href="@Url.Action("Upload", "Video")"><i class="fas fa-upload fa-fw mar-5-r"></i>Upload</a></li>
                <li><a href="#"><i class="fas fa-dice mar-5-r"></i>Shuffle Video</a></li>
                <li><a href="#"><i class="fas fa-info fa-fw mar-5-r"></i>About</a></li>
                <li><a href="#"><i class="fas fa-address-book fa-fw mar-5-r"></i>Contact</a></li>
                <li><a href="#"><i class="fas fa-question fa-fw mar-5-r"></i>FAQ</a></li>

                <li class="footer">© Nine Muses 2019</li>
            </ul>
        </div>


        <div class="content-wrapper">
            <div class="main-content">
                @RenderBody()
            </div>
        </div>

    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
