@using NineMuses.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.User.Username, new { placeholder = "Username", required = "required" })
    @Html.TextBoxFor(m => m.User.Password, new { placeholder = "Password", type = "password", required = "required" })
    @Html.HiddenFor(m => m.ReturnUrl)
    <input type="submit" />

    @Html.ValidationSummary("", new { @class = "ErrorText" })
}

<a href="@Url.Action("SignUp","Login")">Sign Up</a>
