@using NineMuses.ViewModels
@model SearchViewModel

@{
    ViewBag.Title = "Search";
}

@{
    if (Model.Videos.Count != 0)
    {
        <ul class="search-list">

            @foreach (var video in Model.Videos)
            {
                <li class="search-item">
                    <div class="search-item-div">
                        <a href="@Url.Action("View", "Video", new { id = video.VideoID })">
                            <img src="@video.Thumbnail"/>
                            <div class="search-item-thumbnail">
                                <i class="fas fa-play-circle fa-fw mar-5-l" style="color:#1d3557;"></i>
                            </div>
                        </a>
                        <div class="search-item-info">
                            <a href="@Url.Action("View", "Video", new { id = video.VideoID })">
                                <h1>@video.Title</h1>
                                <p>@video.Description</p>
                                <p>@video.UploadDate.ToShortDateString()</p>
                                <p>Views: @video.Views<br /></p>
                            </a>
                            <a class="search-item-user" href="@Url.Action("Profile", "User", new { id = video.User.UserID })">
                                @video.User.Username
                            </a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <h2>No matches on your search. Please try something else.</h2>
    }
}

