@using NineMuses.ViewModels
@model ProfileViewModel
@Styles.Render("~/Contact/Css")

@{
    ViewBag.Title = "Profile";
}

<h1>This is @(Model.User.Username)'s Profile page</h1>

<div>
    <p>Username: @Model.User.Username</p>
</div>

@if (Convert.ToInt64(Session["UserID"]) == Model.User.UserID)
{
    <h2>Change Password</h2>
    using (Html.BeginForm("UpdatePassword", "User", FormMethod.Post, new { id = "UpdatePasswordForm" }))
    {
        @Html.HiddenFor(m => m.User.Username, new { value = Model.User.Username })
        @Html.TextBoxFor(m => m.User.Password, new { placeholder = "Password", type = "password", id = "password", required = "required" })
        <input type="password" id="passwordCheck" placeholder="Retype password" />
        <input type="submit" onclick="CheckPassword" />
    }
}


<div>
    <p>Videos</p>
</div>

<script>
    function CheckPassword() {
        var pw = document.getElementById("password").value;
        var pw2 = document.getElementById("passwordCheck").value;
        if (pw === pw2) {
            document.forms["UpdatePasswordForm"].submit();
        }
        else {

        }
    }
</script>

