@using NineMuses.ViewModels
@model SignUpViewModel
@{
    ViewBag.Title = "SignUp";
}

    <style>
        .main-content {
            padding: 0 !important;
        }
    </style>

    <div class="form-wallpaper">
        <div class="form-wrapper">

            <h1>Sign Up</h1>
            @using (Html.BeginForm("SignUp", "User", FormMethod.Post, new { id = "signUpForm" }))
            {
                @Html.AntiForgeryToken()
        <div class="form-row mar-20-t">
            <div class="form-column">
                @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", required = "required", autocomplete = "off" })
            </div>
        </div>

        <div class="form-row mar-10-t">
            <div class="form-column">
                @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", type = "password", required = "required" })
            </div>
        </div>

        <div class="form-row mar-10-t">
            <div class="form-column">
                @Html.TextBoxFor(m => m.PasswordConfirm, new { placeholder = "Retype Password", type = "password", required = "required" })
            </div>
        </div>

        <div class="form-row error mar-20-t">
            @Html.ValidationSummary("", new { @class = "ErrorText" })
        </div>

        <div class="form-row mar-20-t">
            <div class="form-column">
                <input type="submit" value="Create User" />
            </div>        
        </div>
            }
        </div>
    </div>

